.botaoUsuario {
	-fx-background-image:url("../image/Usuario.png")
}
.botaoCadastro{
	-fx-background-image:url("../image/Cadastro.png")

	}
.botaoRelatorio{
		-fx-background-image:url("../image/Relatorios.png")

	}
.botaoDocumento{
	-fx-background-image:url("../image/Documentos.png")

	}
	